@import './theme/bootstrap';
@import './theme/loading';
@import './theme/typeahead';
@import './theme/variables';

html, body {
  height: 100%;
  width: 100%;
}

body {
  // min-height: 100%;
  color: $white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  background: linear-gradient(40deg, $dark, $dark + 30) fixed;
}

a {
  text-decoration: underline;
  cursor: pointer;
}
