<div class="container container--sm pt-5">

  <h3>Stocks Overview</h3>

  <app-new-stock (select)="onStockSelect($event)">
  </app-new-stock>

  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col"> Stock </th>
        <th scope="col"> Price </th>
        <th scope="col"> Volume </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <th> {{stock.name}} </th>
        <td> ${{stock.stockQuotes?.price | number}} </td>
        <td> {{stock.stockQuotes?.volume | number}} </td>
      </tr>
    </tbody>
  </table>

  <app-stock-details></app-stock-details>

</div>
