<div class="container container--sm">
  <div class="stock">
    <div class="stock__header d-flex align-items-center">
      <h1 class="stock__title mb-0">
        Stocks Overview
      </h1>

      <app-segment class="ml-auto"></app-segment>
    </div>

    <app-new-stock (select)="onStockSelect($event)">
    </app-new-stock>

    <table class="table mt-3 stock-table"
           *ngIf="stocks.length">
      <thead>
        <tr>
          <th> Stock </th>
          <th> Price </th>
          <th> Volume </th>
          <th width="5"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stock of stocks">
          <tr (click)="toggleStock(stock)"
              class="stock-table__row">
            <td> {{stock.name}} </td>
            <td>
              <b>{{stock.stockQuotes?.price | currency: 'USD'}}</b>
              <i class="fa fa-refresh fa-spin fa-fw"
                 *ngIf="isLoadingStocksPrices">
              </i>
            </td>
            <td>
              {{stock.stockQuotes?.volume ? (stock.stockQuotes?.volume | currency: 'USD') : '--'}}
              <i class="fa fa-refresh fa-spin fa-fw"
                 *ngIf="isLoadingStocksPrices">
              </i>
            </td>
            <td>
              <button class="stock-table__remove-btn"
                      (click)="deleteStock(stock); $event.stopPropagation()">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="3"
                class="p-0 border-0">
              <div *ngIf="stock === selectedStock"
                   class="stock-table__expanded-row"
                   [@slide]>
                <app-stock-details [symbol]="stock.symbol"
                                   [stock]="stock">
                </app-stock-details>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
