:host {
  display: block;
}

.stock-details {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__chart {
    height: 300px;
    width: 100%;
  }
}
