@import '../../../theme/variables';

.segment {
  line-height: 12px;

  &__item {
    font-size: 12px;
    color: $gray;
    margin-left: 5px;
    cursor: pointer;

    &--selected {
      color: $red;
      font-weight: 600;
    }
  }
}
