@import './variables';

.type-ahead {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: $light !important;

  &:focus {
    box-shadow: none;
    background-color: transparent;
  }

}

ngb-typeahead-window {
  &.dropdown-menu {
    font-size: 16px;
    width: 100%;
    max-width: 610px;
    background-color: rgba($dark + 50, .96);
    background: linear-gradient(40deg, $dark + 30, $dark + 60);
    border: none;
    box-shadow: 0 15px 30px rgba($dark, .9);
  }

  .dropdown-item {
    color: $white;
    font-weight: 400;

    &.active {
      font-weight: 400;
      background-color: $red;
    }
  }
}
