// Colors
$light: #FAF9F8;
$dark: #1A1D26;
$blue: #00B6F0;
$green: #32BAB8;
$white: #FFFFFF;
$gray: #99A1A3;
$red: rgb(255, 99, 132);
$light-gray: #E5E7E8;

// @media breaks
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-lx: 1200px;
